#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; /* Start at the left */
  }
  50% {
    background-position: 100% 50%; /* Move to the right */
  }
  100% {
    background-position: 0% 50%; /* Reset to start */
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.glow {
  position: fixed;
  width: 1000px;
  height: 1000px;
  background: radial-gradient(yellow,red, transparent, transparent);
  border-radius: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

/* Navigation Bar CSS */

.navigationBar {
  position: fixed;
  top: 0;
  background-color: rgb(4, 4, 100);
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    list-style-type: none;
    justify-content: end;
    li {
      margin: 0 10px;
    }
  }
}

.navLeft, .navRight {
  margin: 0 20px;
}

.navLeft h2 {
  text-transform: capitalize;
}

.navText {
  position: relative;
  color: white;
  transition: all 1s ease;
}
.navText:hover {
  color: yellow;
}

.active {
  color: yellow;
}

.navText::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: yellow;
  transition: width 0.5s ease-in-out;
}

.navText:hover::after {
  width: 100%;
}

/* Home CSS */

.homeElements {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 80px;
}

.homeLeft {
  text-align: left;
  span, h3 {
    color: red;
  }
}

.myImage {
  width: 400px;
  height: 400px;
  display: block;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}

.myImage:hover {
  opacity: 1;
  width: 420px;
  height: 420px;
}

.homeCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.homeRecentProjects h1 {
  color: red;
  text-decoration: underline;
}

.homeProjectCardContainer {
  background-color: rgb(236, 255, 255);
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  p {
    color: black;
  }
  h2 {
    color: rgb(105, 2, 2);
    text-transform: capitalize;
  }
  a {
    color: rgb(1, 1, 51);
    background-color: beige;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid rgb(1,1,51);
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    background-color: yellow;
  }
}
.homeProjectCardContainer:hover {
  box-shadow: 0 0 15px red, 0 0 30px yellow;
}

.homeProjectcardActions {
  display: flex;
  justify-content: space-between;
  align-items: end;
  top: auto;
}

.projectButton {
  padding: 5px 10px;
  background-color: transparent;
  color: #ffff00;
  border: 1px solid aqua;
  box-shadow: 0 0 15px yellow, 0 0 30px red;
  transition: all 0.5s ease-in-out;
}

.projectButton:hover {
  box-shadow: 0 0 30px yellow, 0 0 60px red;
  color: aqua;
}

.projectBtn {
  padding: 5px 10px;
  background-color: transparent;
  color: #ffff00;
  border: 1px solid aqua;
  box-shadow: 0 0 15px yellow, 0 0 30px red;
  transition: all 0.5s ease-in-out;
}

.projectBtn:hover {
  box-shadow: 0 0 30px yellow, 0 0 60px red;
  color: aqua;
}

/* Leetcode css */

.LeetcodeContainer h1 {
  color: red;
  text-decoration: underline;
}

.chartsContains {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 40px;
  flex-wrap: wrap;
}

.leetDoughnut {
  max-width: 300px;
  h2 {
    white-space: nowrap;
  }
}

.leetBar {
  width: 600px;
}

.leetLine {
  width: 100%;
}

.leetSubmission h1 {
  color: red;
  text-decoration: underline;
}

.leetSubmissionsContains{
  border: 1px solid yellow;
  padding: 20px;
  max-height: 350px;
  overflow-y: scroll;
}

.leetRecentSubmission{
  border: 1px solid red;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  transition: all 0.3s ease-in-out;
}

.leetRecentSubmission:hover {
  background-color: antiquewhite;
  color: black;
}

.leetcodeBtn {
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid aqua;
  transition: all 0.3s ease-in-out;
}

.leetcodeBtn:hover {
  box-shadow: 0 0 20px yellow, 0 0 40px red;
}

/* Github CSS */

.githubchartcontains {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0 40px;
  flex-wrap: wrap;
  margin-top: 60px;
  h1 {
    color: red;
    text-decoration: underline;
  }
}

.githubPie {
  width: 400px;
}

.githubLine {
  width: 600px;
}

/* Projects CSS */

.projectContainer {
  margin-top: 100px;
  h1 {
    color: red;
    text-decoration: underline;
  }
}

.projectCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.ProjectCardContainer {
  background-color: rgb(219, 220, 255);
  background-size: 200% 100%;
  cursor: pointer;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  p {
    color: black;
  }
  h2 {
    color: black;
    text-transform: capitalize;
  }
}

.ProjectCardContainer:hover {
  background-position: 100% 0;
  box-shadow: 0 0 15px red, 0 0 30px yellow;
}

.ProjectcardActions {
  display: flex;
  justify-content: space-between;
  align-items: end;
  top: auto;
  a {
    background-color: rgb(184, 184, 184);
    border-radius: 8px;
    border: 1px solid coral;
    color: red;
    padding: 0 2px;
    transition: all 0.2s ease-in-out;
  }
  a:hover {
    color: blue;
    border-color: blueviolet;
    box-shadow: 0 0 15px red;
  }
}

.contactContainer {
  padding: 20px;
  place-items: center;
  h1 {
    color: yellow;
    text-decoration: underline;
  }
}

.contactItems {
  padding: 20px;
  border-radius: 8px;
  color: black;
  margin: 10px;
  width: fit-content;
}

.cardContainer {
  background-color: white;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  padding: 20px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.cardElement {
  width: 100%;
}

.contactFormContainer {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  h2 {
    text-decoration: underline;
    color: black;
  }
}

.contactForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 10px;
  input {
    min-width: 500px;
    min-height: 50px;
    background-color: whitesmoke;
    border-radius: 8px;
    border: 1px solid black;
  }
  textarea {
    width: 500px;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 8px;
    border: 1px solid black;
  }
}

/* Modal CSS */
.modal {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(8px);
}

.modalContent {
  position: relative;
  background-color: azure;
  color: black;
  padding: 40px;
  border-radius: 20px;
}

.modalContent::before{
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px); 
  border-radius: 20px;
  background: linear-gradient(to bottom right, red, yellow, blue, indigo,crimson, purple, magenta, green);
  box-shadow: 0 0 30px red, 0 0 50px yellow , 0 0 80px purple, 0 0 120px indigo;
  background-size: 300% 300%;
  z-index: -1;
  animation: gradientAnimation 3s linear infinite;
}

.modalActions {
  position: absolute;
  top: 10px;
  right: 15px;
}

.closeIcon {
  width: 30px;
  height: 30px;
  color: red;
  cursor: pointer;
}