#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; /* Start at the left */
  }
  50% {
    background-position: 100% 50%; /* Move to the right */
  }
  100% {
    background-position: 0% 50%; /* Reset to start */
  }
}

@keyframes LoadingSpinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .navigationBar .navRight .navRightIcon {
    display: block;
  }

  .navigationBar .navRight .navText {
    display: none;
  }

  .homeContainer .homeElements {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .homeContainer .homeElements .homeRight .myImage {
    width: 200px;
    height: 200px;
  }

  .homeContainer .homeElements .homeRight .myImage:hover {
    opacity: 1;
    width: 300px;
    height: 300px;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.glow {
  position: fixed;
  width: 1000px;
  height: 1000px;
  background: radial-gradient(yellow,red, transparent, transparent);
  border-radius: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

/* animation on scroll CSS */
.animated-div {
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.5s ease;
}
.animated-div.visible {
  opacity: 1;
  transform: scale(1);
}

/* loading CSS */
.loading .loading-icon {
  animation: LoadingSpinner 1s linear infinite;
}

/* Navigation Bar CSS */

.navigationBar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-in-out;
  ul {
    display: flex;
    list-style-type: none;
    justify-content: end;
    li {
      margin: 0 10px;
    }
  }
}

.navLeft, .navRight {
  margin: 0 20px;
}

.navLeft h2 {
  text-transform: capitalize;
  cursor: default;
}

.navText {
  position: relative;
  color: white;
  transition: all 1s ease;
}

.navRight ul li:nth-last-child(1) .navText {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid red;
}

.navRight ul li:nth-last-child(1) .navText:hover {
  box-shadow: 0 0 15px red, 0 0 30px yellow;
  background-color: rgb(4, 4, 100);
}

.navRightIcon {
  font-size: larger;
  border: 1px solid red;
  color: red;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  display: none;
}

.navRightIcon:hover {
  color: red;
  box-shadow: 0 0 15px yellow;
}

.sideBar {
  position: absolute;
  width: 100%;
  height: 100vh;
  right: -100%;
  top: 0;
  flex: 1;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(8px);
  transition: all 0.5s ease-in-out;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  li {
    font-size: 25px;
  }
  .navIconText {
    color: white;
    transition: all 0.5s ease-in-out;
  }
  .navIconText:hover {
    color: yellow;
  }
}

.navText:hover {
  color: yellow;
}

.active {
  color: yellow;
}

.navText::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: yellow;
  transition: width 0.5s ease-in-out;
}

.navText:hover::after {
  width: 100%;
}

.navRight ul li:nth-last-child(1) .navText::after {
  width: 0;
}

/* Home CSS */

.homeElements {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 80px;
}

.homeLeft {
  text-align: left;
  span, h3 {
    color: yellow;
  }
}

.myImage {
  width: 400px;
  height: 400px;
  display: block;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}

.myImage:hover {
  opacity: 1;
  width: 420px;
  height: 420px;
}

.homeHandles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  a {
    color: yellow;
    font-weight: bold;
    background-color: purple;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    box-shadow: 0 0 15px red, 0 0 30px yellow;
  }
}

.homeCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.homeRecentProjects h1 {
  color: yellow;
  text-decoration: underline;
}

.homeRecentProjects span {
  color: red;
  text-decoration: underline;
  font-weight: bolder;
  font-size: large;
  margin-bottom: 20px;
}

.homeProjectCardContainer {
  background-color: rgb(236, 255, 255);
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  p {
    color: black;
  }
  h2 {
    color: rgb(105, 2, 2);
    text-transform: capitalize;
  }
  a {
    color: rgb(1, 1, 51);
    background-color: beige;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid rgb(1,1,51);
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    background-color: yellow;
  }
}
.homeProjectCardContainer:hover {
  box-shadow: 0 0 15px red, 0 0 30px yellow;
}

.homeProjectcardActions {
  display: flex;
  justify-content: space-between;
  align-items: end;
  top: auto;
}

.projectButton {
  padding: 5px 10px;
  background-color: transparent;
  color: #ffff00;
  border: 1px solid aqua;
  box-shadow: 0 0 15px yellow, 0 0 30px red;
  transition: all 0.5s ease-in-out;
}

.projectButton:hover {
  box-shadow: 0 0 30px yellow, 0 0 60px red;
  color: aqua;
}

.projectBtn {
  padding: 5px 10px;
  background-color: transparent;
  color: #ffff00;
  border: 1px solid aqua;
  box-shadow: 0 0 15px yellow, 0 0 30px red;
  transition: all 0.5s ease-in-out;
}

.projectBtn:hover {
  box-shadow: 0 0 30px yellow, 0 0 60px red;
  color: aqua;
}

/* Leetcode css */

.LeetcodeContainer h1 {
  color: yellow;
  text-decoration: underline;
}

.chartsContains {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 40px;
  flex-wrap: wrap;
}

.leetDoughnut {
  max-width: 300px;
  h2 {
    white-space: nowrap;
  }
}

.leetBar {
  width: 600px;
}

.leetLine {
  width: 100%;
}

.leetSubmission h1 {
  color: yellow;
  text-decoration: underline;
}

.leetSubmissionsContains{
  border: 1px solid yellow;
  padding: 20px;
  max-height: 350px;
  overflow-y: scroll;
}

.leetRecentSubmission{
  border: 1px solid red;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.leetRecentSubmission p {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
}

.leetRecentSubmission:hover {
  background-color: antiquewhite;
  color: black;
}

.leetcodeBtn {
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid aqua;
  transition: all 0.3s ease-in-out;
}

.leetcodeBtn:hover {
  box-shadow: 0 0 20px yellow, 0 0 40px red;
}

/* Github CSS */

.githubchartcontains {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0 40px;
  flex-wrap: wrap;
  margin-top: 60px;
  h1 {
    color: yellow;
    text-decoration: underline;
  }
}

.githubPie {
  width: 400px;
}

.githubLine {
  width: 600px;
}

/* Projects CSS */

.projectContainer {
  margin-top: 100px;
  h1 {
    color: yellow;
    text-decoration: underline;
  }
  span {
    color: red;
    text-decoration: underline;
  }
}

.projectCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.ProjectCardContainer {
  background-color: rgb(219, 220, 255);
  background-size: 200% 100%;
  cursor: pointer;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  p {
    color: black;
  }
  h2 {
    color: black;
    text-transform: capitalize;
  }
}

.ProjectCardContainer:hover {
  background-position: 100% 0;
  box-shadow: 0 0 15px red, 0 0 30px yellow;
}

.ProjectcardActions {
  display: flex;
  justify-content: space-between;
  align-items: end;
  top: auto;
  a {
    background-color: rgb(184, 184, 184);
    border-radius: 8px;
    border: 1px solid coral;
    color: red;
    padding: 0 2px;
    transition: all 0.2s ease-in-out;
  }
  a:hover {
    color: blue;
    border-color: blueviolet;
    box-shadow: 0 0 15px red;
  }
}


/* About CSS */

.aboutContainer {
  margin-top: 100px;
  h1 {
    color: yellow;
    text-decoration: underline;
  }
}

.aboutTimeLineComponents {
  text-align: start;
  h3 {
    font-weight: bolder;
  }
  h4 {
    font-weight: bold;
    font-style: italic;
  }
}

.aboutTimeLineDate {
  color: white;
  background-color: rgb(37, 1, 37);
  padding: 2px 5px;
  border-radius: 4px;
  float: right;
}

.aboutCertificateContainer {
  background-color: whitesmoke;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  color: black;
}

.aboutCertificate h1 {
  color: #000000;
}

.aboutImgHeader {
  display: flex;
  justify-content: space-between;
}

.aboutImgheaderActions {
  display: flex;
  gap: 5px;
}

.downloadCertificate, .ViewCertificate {
  position: relative;
}

.downloadHelper, .viewHelper {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  bottom: 100%;
  left: 50%;
  padding: 2px 5px;
  border-radius: 5px;
}

.downloadCertificate:hover .downloadHelper, .ViewCertificate:hover .viewHelper {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0,0,0);
  color: white;
}

.aboutcertificateImg {
  width: 100%;
  margin-top: 10px;
}

/* Contact CSS */

.contactContainer {
  padding: 20px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    color: yellow;
    text-decoration: underline;
  }
}

.contactItems {
  padding: 20px;
  border-radius: 8px;
  color: black;
  margin: 10px;
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.cardContainer {
  background-color: white;
  margin-bottom: 20px;
  width: 200px;
  min-width: 200px;
  display: flex;
  padding: 20px;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.cardElement {
  width: 100%;
}

.contactFormContainer {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  padding: 20px;
  h2 {
    text-decoration: underline;
    color: black;
  }
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: black;
  gap: 10px;
  input {
    min-width: 80%;
    min-height: 50px;
    background-color: whitesmoke;
    border-radius: 8px;
    border: 1px solid black;
    padding: 3px;
    color: black;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 30px whitesmoke inset !important;
      -webkit-text-fill-color: #000000 !important;
  }
  textarea {
    min-width: 80%;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 8px;
    border: 1px solid black;
    padding: 5px;
    color: black;
  }

  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover, 
  textarea:-webkit-autofill:focus, 
  textarea:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 30px whitesmoke inset !important;
      -webkit-text-fill-color: #000000 !important;
  }
}

/* Modal CSS */
.modal {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(8px);
}

.modalContent {
  position: relative;
  background-color: azure;
  color: black;
  padding: 40px;
  border-radius: 20px;
  margin: 0 50px;
}

.modalContent::before{
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px); 
  border-radius: 20px;
  background: linear-gradient(to bottom right, red, yellow, crimson, purple, magenta, green, orange, violet, pink, brown, black, white);
  box-shadow: 0 0 30px red, 0 0 50px yellow , 0 0 80px purple, 0 0 120px indigo;
  background-size: 300% 300%;
  z-index: -1;
  animation: gradientAnimation 3s linear infinite;
}

.modalActions {
  position: absolute;
  top: 10px;
  right: 15px;
}

.closeIcon {
  width: 30px;
  height: 30px;
  color: red;
  cursor: pointer;
}